@media screen and (max-width: 1440px) {
  .header {
    .container {
      padding-left: 30px;
      padding-right: 30px;

      .navbar {
        .main_list {
          .navbar-items {
            .navbar-item {
              a {
                font-size: 24px;
              }

              &:not(:last-child) {
                margin-right: 60px;
              }
            }
          }
        }
      }
    }
  }

  .projects {
    .container {
      .projects-items {
        .project-item {
          .project-item-description {
            font-size: 17px;
            height: 100px;
          }

          .project-item-button {
            font-size: 17px;
            width: 200px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1319px) {
  .projects-title, .technologies-title {
    text-align: center;
  }


}

@media screen and (max-width: 1163px) {
  .header {
    .container {
      .navbar {
        .navbar-items {
          .navbar-item {
            a {
              font-size: 24px;
            }

            &:not(:last-child) {
              margin-right: 40px;
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width: 1154px) {
  
}

@media screen and (max-width: 1140px) {
  .technologies {
    .container {
      .technologies-skills {
        .technologies-skill {
          .technologies-skill-name {
            font-size: 22px;
          }

          .technologies-skill-scale {
            .technologies-skill-level {
              font-size: 22px;
              //top: -32px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    .container {
      padding: 0 30px;

    }
  }
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {
  .technologies {
    .container {
      .technologies-skills {
        .technologies-skill {
          .technologies-skill-name {
            font-size: 16px;
          }

          .technologies-skill-scale {
            height: 18px;

            .technologies-skill-level {
              font-size: 16px;
              //top: -25px;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .technologies {
    .container {
      .technologies-skills {
        .technologies-skill {
          .technologies-skill-name {
            font-size: 12px;
          }

          .technologies-skill-scale {
            height: 18px;

            .technologies-skill-level {
              font-size: 12px;
              //top: -25px;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .projects {
    .container {
      .projects-items {
        grid-template-rows: 550px;

        .project-item {
          .project-item-title {
            font-size: 27px;
          }

          .project-item-button {
            width: 150px;
            height: 40px;
          }
        }
      }
    }
  }
}