* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: "Poppins";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-family: "Poppins";
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: "Poppins";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-family: "Poppins";
    font-weight: 600;
}


body {
    background-color: #0F1624;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #FFF;
    position: relative;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.button {
    color: #FFF;
    font-style: normal;
    line-height: normal;
    border-radius: 83px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border: 0;
    cursor: pointer;
    transition: .5s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 13px 8px rebeccapurple;
    }
}

.navTrigger {
    display: none;
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;

    & i {
        background-color: #fff;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
    }
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.header {
    margin-bottom: 157px;
    background-color: #0F1624;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

}

.header .container {
    padding: 45px 129px 45px 132px;
    -webkit-transition: all .5s ease;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    float: left;
}

.logo img {
    width: 100px;
    height: auto;
}


.logo-text {
    font-size: 30px;
    font-weight: 500;
    margin-left: 13px;
    color: white;
}

.main_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item {
    transition: 0.3s ease all;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    &:hover {
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        padding: 6px 0;
    }

    &:not(:last-child) {
        margin-right: 98px;
    }
}

.navbar-item a {
    text-decoration: none;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
}


.hero {
    position: relative;
}

.hero-main-image img {
    position: absolute;
    right: 0;
    top: 52px;
}


.hero-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    margin-left: 192px;
    margin-bottom: 34px;
}

.hero-description {
    color: #BCBCBC;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    margin-left: 254px;
    max-width: 989px;
    margin-bottom: 73px;

    p:first-child {
        padding-bottom: 30px;
    }
}

.hero-button {
    width: 280px;
    height: 80px;
    margin-left: 301px;
    font-size: 28px;
    margin-bottom: 255px;
}


.projects {
    margin-bottom: 329px;
}


.projects-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    margin-left: 192px;
    margin-bottom: 93px;
}

.projects-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 550px));
    grid-template-rows: 700px;
    justify-content: center;
    grid-column-gap: 220px;
    grid-row-gap: 97px;
}

.project-item {
    border-radius: 50px 0;
    background: #0F1624;
    padding: 25px 25px 45px;
    transition: .3s ease all;

    &:hover {
        box-shadow: 0 0 12px 0 #FFF;
        scale: 1.05;
    }
}

.project-item-image img {
    width: 100%;
    height: auto;
    border-radius: 50px 0 0 0;

}

.project-item-title {
    font-size: 36px;
    font-style: normal;
    line-height: 32px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.project-item-line {
    margin: 0 auto 25px;
    width: 60%;
    height: 4px;
    border-radius: 83px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

.project-item-description {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 25px;
    height: 168px;
    overflow: auto;
}

.project-item-button {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    width: 200px;
    height: 60px;
}


@keyframes progress-beginner {
    0% {
        width: 0;
    }

    100% {
        width: 25%;
    }
}

@keyframes progress-regular {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes progress-advanced {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}


[data-lvl="advanced"] {
    animation: progress-advanced 3s linear;
    animation-fill-mode: forwards;
}

[data-lvl="regular"] {
    animation: progress-regular 3s linear;
    animation-fill-mode: forwards;
}

[data-lvl="beginner"] {
    animation: progress-beginner 3s linear;
    animation-fill-mode: forwards;
}

.technologies {
    margin-bottom: 329px;
}

.technologies-title {
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    margin-left: 192px;
    margin-bottom: 133px;
}

.technologies-skills {
    margin-left: 325px;
    margin-bottom: 200px;
}

.technologies-skill {
    position: relative;
    width: 80%;

    &:not(:last-child) {
        margin-bottom: 133px;
    }
}

.technologies-skill-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.skill-level {
    margin-right: 20px;
    font-size: 24px;
}

.skill-name {
    margin-left: 20px;
    font-size: 36px;
}

.technologies-skill-scale {
    height: 33px;
    border-radius: 83px;
    background: #162950;
    position: relative;
    box-sizing: border-box;

}

.progress {
    position: absolute;
    border-radius: 83px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    height: 100%;
    width: 0;
}

.additional-skills-title {
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    margin-left: 192px;
    margin-bottom: 82px;
}

.additional-skills-items {
    list-style: disc;
    margin-left: 300px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(220px, 400px));
    grid-row-gap: 32px;
    grid-column-gap: 130px;
}

.additional-skills-item {
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}


.about {
    margin-bottom: 421px;
}


.about-title {
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    margin-left: 192px;
    margin-bottom: 87px;
}

.about-timeline {
    display: flex;
}

.about-timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &:not(:first-child) {
        margin-left: 30px;
    }

    &:not(:last-child)::before {
        content: "";
        z-index: -1;
        position: absolute;
        width: 480px;
        height: 12px;
        background: #FFF;
        top: 65px;
        left: 224px;

    }
}

.about-timeline-item-year {
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}

.about-timeline-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFF;
}

.about-timeline-item-description {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
}


.footer {
    padding-bottom: 80px;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-socials-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 359px;
}

.footer-socials-item {
    &:not(:last-child) {
        margin-right: 65px;
    }

    & a svg {
        width: 72px;
        height: 72px;
    }
}

.container.affix {
    background-color: #111;
    padding-top: 20px;
    padding-bottom: 20px;
}